// Import Google fonts
@import url(https://fonts.googleapis.com/css?family=PT+Serif);
//IMPORT BOURBON & BITTERS
@import "sass/bourbon/bourbon";
@import "sass/base/base";

// BOURBON ADJUSTMENTS
@import "sass/modules/bourbon-adjustments";

// IMPORT MODULES
@import "sass/modules/mixins";
@import "sass/modules/media-queries";

/*-----------------------------------------------------------------------------------*/
/*	Site fonts, variables, structure, common styles, bourbon overrides etc
/*-----------------------------------------------------------------------------------*/

	/*-------------------------------------------------------------------------------*/
	/*	Additional scss functions
	/*-------------------------------------------------------------------------------*/
		
		// Convert Photoshop tracking to em
		@function tracking($target) {
			// 1 unit = 1/1000 em
			@return ($target / 1000) * 1em;
		}
		
		// Convert px based leading to unitless line height
		@function leading($target, $font-size) {
			@return $target / $font-size;
		}
		
	/*-------------------------------------------------------------------------------*/
	/*	Import fonts
	/*-------------------------------------------------------------------------------*/
	
		@include font-face(montserrat-bold, '../fonts/montserrat-bold-webfont');
		@include font-face(montserrat-light, '../fonts/montserrat-light-webfont');
		@include font-face(montserrat-regular, '../fonts/montserrat-regular-webfont');
		@include font-face(montserrat-hairline, '../fonts/montserrat-hairline-webfont');	
		
	/*-------------------------------------------------------------------------------*/
	/*	Variables
	/*-------------------------------------------------------------------------------*/
	
		// Fonts
		$pt-serif: "PT Serif", serif;
		$montserrat-bold: montserrat-bold, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		$montserrat-light: montserrat-light, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		$montserrat-regular: montserrat-regular, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		$montserrat-hairline: montserrat-hairline, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		
		// Colours
		$yellow: #FDDA3A;
		$dark:   #2b2b2b;	
		$grey:   #999b9b;
		$brown:  #b67c56;
		
	/*-------------------------------------------------------------------------------*/
	/*	Placeholders
	/*-------------------------------------------------------------------------------*/
	
//		%btn {
//			border-radius: 20px;
//			padding: 10px 30px;
//		}
		
	/*-------------------------------------------------------------------------------*/
	/*	Structure
	/*-------------------------------------------------------------------------------*/

		html.open {
			overflow: hidden;
			//position: fixed;
		}
		
		body {
			margin: 0;
			padding: 0;
		}
		
		.main-wrapper {
			background: $dark;
		}

		.content-wrapper {
			background: white;
			
			@include transition(transform 0.5s);
			
			@include min-em(700) {
				.push & {
					@include transform(translate3d(300px, 0, 0));
				}
			}
		}
		
		.inner-text {
			max-width: 660px;
			margin: 0 auto;
			padding: 65px 10px;
			text-align: center;
		}

		.footer-inner {
			padding: 0 10px;
			margin: 0 auto;
			max-width: 1140px;
			@include clearfix;
		}
		
//		.page-split .makeSiblingHeight {
//			max-height: 400px;
			
//			@include min-em(800) {
//				max-height: none;
//			} 
//		}

		// dirty way to have img src images on smaller than 800
		// and background utilising size:cover on 800+
		.responsive-big {
			display: none;
			
			@include min-em(800) {
				display: block;
			}
		}
		
		.responsive-small {
			
			@include min-em(800) {
				display: none;
			}
		}

		
	/*-------------------------------------------------------------------------------*/
	/*	Fonts
	/*-------------------------------------------------------------------------------*/
	
		h1, h2, h3, h4, h5, h6, h7, p {			
			letter-spacing: tracking(20);
		}
		
		h1 {
			font-family: $montserrat-bold;
			font-size: 7vw;
			line-height: leading(60, 35);
			margin-bottom: 1em;
			
			@include min-em(500) {
				font-size: 35px;
				margin-bottom: 0.5em;
			}	
		}
		
		h2 {
			font-family: $montserrat-bold;
			font-size: 18px;
			line-height: leading(34, 18);
			text-transform: uppercase;
		}
		
		h3 {
			font-family: $montserrat-light;
			font-size: 35px;
			line-height: leading(52, 35);	
		}
	
		h4 {
			font-family: $montserrat-bold;
			font-size: 24px;
			line-height: leading(50, 24);
		}
		
		h5 {
			font-family: $montserrat-light;
			font-size: 28px;
			line-height: leading(52, 28);
			font-weight: 100;
		}
		
		h6 {
			font-family: $montserrat-light;
			font-size: 16px;
			line-height: leading(26, 16);
		}
				
		p {
			font-family: $pt-serif;
			font-size: 16px;
			line-height: leading(34, 16);
			color: $grey;
		}
		
		a {
			@include transition(color 0.2s);
			
			&:hover {
				color: $yellow;
			}
		}
		
		/*---------------------------------------------------------------------------*/
		/*	Wordpress content
		/*---------------------------------------------------------------------------*/
			
			.content {
				@include clearfix;
				
				.inner-text {
					text-align: left;
				}
				
				h2 {
					margin-bottom: 30px;	
				}
				
				p {
					margin-bottom: 30px;
				}

				ul {
					font-family: $pt-serif;
					font-size: 16px;
					line-height: leading(34, 16);
					color: $grey;
					list-style: disc;			
				}
				
				ol {
					font-family: $pt-serif;
					font-size: 16px;
					line-height: leading(34, 16);
					color: $grey;
					list-style: decimal;			
				}

				img {
					
					&.alignleft {
						margin-right: 1.5em;
						margin-bottom: 1.5em;
						display: inline;
						float: left;
					}
					
					&.alignright {
						margin-left: 1.5em;
						margin-bottom: 1.5em;
						display: inline;
						float: right;		
					}
					
					&.aligncenter {
						margin-right: auto;
						margin-left: auto;
						display: block;
						clear: both;
					}
				}

				blockquote {
					border-left: 4px solid $grey;
					padding-left: 20px;
					background: #f7f7f7;
					
					p {
						font-size: 20px;
					}
				}		
			}
		
		
		/*---------------------------------------------------------------------------*/
		/*	Split text content
		/*---------------------------------------------------------------------------*/
			
	/*-------------------------------------------------------------------------------*/
	/*	Common styles used throughout
	/*-------------------------------------------------------------------------------*/
		
		/*---------------------------------------------------------------------------*/
		/*	Menu overlay
		/*---------------------------------------------------------------------------*/
		
			.fixed-overlay {
				opacity: 0;
				visibility: hidden;
				background: rgba(#000000, 0.6);
				cursor: pointer;
				z-index: 1;
				@include position(fixed, 0 0 0 0);
				@include transition(opacity 0.2s, visibility 0.2s);
				
				@include min-em(700) {
					.open & {
						opacity: 1;
						visibility: visible;
					}	
				}
			}

		/*---------------------------------------------------------------------------*/
		/*	Slider styles
		/*---------------------------------------------------------------------------*/
		
			// NOTE: Bring in all styles, currently added as a seperate style sheet
			// in the head for development purposes.

			.bx-wrapper {
				position: relative;
				margin: 0 auto;
				padding: 0;
				*zoom: 1;
			}

			.bx-wrapper img {
				max-width: 100%;
				display: block;
				width: 100%;
			}

			.bx-wrapper .bx-pager,
			.bx-wrapper .bx-controls-auto {
				position: absolute;
				bottom: 30px;
				width: 100%;
				padding: 0;				
			}

			/* PAGER */
			
			.bx-wrapper .bx-pager {
				text-align: center;
				font-size: .85em;
				font-family: Arial;
				font-weight: bold;
				color: #666;
//				padding-top: 20px;
			}
			
			.bx-wrapper .bx-pager .bx-pager-item,
			.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
				display: inline-block;
				*zoom: 1;
				*display: inline;
			}
			
			.bx-wrapper .bx-pager.bx-default-pager a {
				background: #666;
				text-indent: -9999px;
				display: block;
				width: 15px;
				height: 15px;
				margin: 0 5px;
				outline: 0;
				background: url(../images/slider-controls.png) no-repeat 0 -85px;
//				-moz-border-radius: 5px;
//				-webkit-border-radius: 5px;
//				border-radius: 5px;
			}
			
			.bx-wrapper .bx-pager.bx-default-pager a:hover,
			.bx-wrapper .bx-pager.bx-default-pager a.active {
//				background: #000;
				background: url(../images/slider-controls.png) no-repeat -25px -85px;
			}
			
			/* DIRECTION CONTROLS (NEXT / PREV) */
			
			.bx-wrapper .bx-prev {
				left: 10px;
				background: url(../images/slider-controls.png) no-repeat 0 0;
			}
			
			.bx-wrapper .bx-next {
				right: 10px;
				background: url(../images/slider-controls.png) no-repeat -72px 0;
			}
			
			.bx-wrapper .bx-prev:hover {
				background-position: 0 0;
			}
			
			.bx-wrapper .bx-next:hover {
				background-position: -72px 0;
			}
			
			.bx-wrapper .bx-controls-direction a {
				display: none;
								
				@include min-em(800) {
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -16px;
					outline: 0;
					width: 72px;
					height: 72px;
					text-indent: -9999px;
					z-index: 2;
				}				
			}
			
			.bx-wrapper .bx-controls-direction a.disabled {
				display: none;
			}
			
		/*---------------------------------------------------------------------------*/
		/*	About us section
		/*---------------------------------------------------------------------------*/

			.about-us-section {
				
				.about-us-split {
					//@include clearfix;
					@include display(flex);
					@include flex-direction(column);
					//@include align-items(flex-end);
					
					@include min-em(800) {
						@include flex-direction(row);
					}
					
					.first {
						padding: 40px;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						min-height: 400px;
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(flex-end);
						
						@include min-em(800) {
							width: 50%;
						}
						
						.text {
						//	@include display(flex);
						//	@include flex-direction(column);
							
							@include min-em(600) {
								width: 50%;
							}
								
							h4 {
								line-height: leading(26, 24);
							}
							
							p {
								margin-bottom: 30px;
							}
						}
					}
					
					.second {
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						padding: 40px;
						min-height: 400px;
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(flex-end);
						
						@include min-em(800) {
							width: 50%;
						}
						
						.text {
					//		@include display(flex);
					//		@include flex-direction(column);
							
							@include min-em(600) {
								width: 50%;
							}
							
							h4 {
								color: white;
								line-height: leading(26, 24);
							}

							p {
								margin-bottom: 30px;
							}

						}
					}

					.button {
						display: inline-block;
						border-radius: 50px;
						padding: 10px 24px;
						background: #2562e6;
						color: white;
						border: none;
						font-family: $montserrat-bold;
						font-size: 11px;
						letter-spacing: tracking(200);
						text-transform: uppercase;
						@include transition(color 0.2s, background 0.2s);
						
						&:hover {
							background: $dark;
							color: white;
						}
					}
				}
				
			}
							
/*-----------------------------------------------------------------------------------*/
/*	Main navigation
/*-----------------------------------------------------------------------------------*/

	.slide-out-navigation {
		background: $dark;
		width: 100%;
		height: 100%;
		overflow-y: auto;
		z-index: 1;
		-webkit-overflow-scrolling: touch;
		@include transform(translate3d(-100%, 0, 0));
		@include transition(transform 0.5s);
		@include position(fixed, 0 null null 0);
		
		@include min-em(700) {
			width: 300px;
		}
	
		.push & {
			@include transform(translate3d(0, 0, 0));
		}
		
		.nav-header {
			border-bottom: 2px solid #4a4a4a;
			padding: 28px 0 20px 20px;
			position: relative;
			
			.menu-btn-close {
				width: 50px;
				height: 50px;
				cursor: pointer;
				@include position(absolute, 14px 20px null null);
				
				@include min-em(700) {
					display: none;
				}
			
				&::before,
				&::after {
					content: '';
					width: 30px;
					height: 4px;
					background: white;
					border-radius: 10px;
					@include position(absolute, null null null 10px);
				}

				&::before {
					top: 23px;
					@include transform(rotate(-45deg));
					@include transition(top ease 0.2s, transform 0.2s ease 0.2s);
				}
				
				&::after {
					bottom: 23px;
					@include transform(rotate(45deg));
					@include transition(bottom ease 0.2s, transform 0.2s ease 0.2s);
				}	


			}
			
			.menu-btn-middle {
				
			}
			
			p {
				margin: 0;
				font-family: $montserrat-bold;
				font-size: 14px;
				color: white;
				text-transform: uppercase;
			}			
		}
	}

	.main-navigation {
		
		ul {
		
			li {
			
				&.menu-item-has-children {
						
					> a {
						position: relative;
						
						&::after {
							content: '';
							display: block;
							width: 8px;
							height: 14px;
							background: url(../images/menu-children.png) no-repeat center center;
							@include position(absolute, calc(50% - 7px) 20px null null);
							@include transition(transform 0.2s);
						}
					}

					&.show-sub {
						
						> a {
							
							&::after {
								@include transform(rotate(90deg));
							}
						}
						
						.sub-menu {
							//max-height: 500px;
							opacity: 1;
							visibility: visible;
							@include transition(max-height 0.4s, opacity 0.4s ease 0.4s, visibility 0.4s ease 0.4s);
							
						}
					}
				}
				
				
				a {
					color: white;
					padding: 20px 40px 20px 20px;
					display: block;
					border-bottom: 2px solid #4a4a4a;
					text-transform: uppercase;
					font-family: $montserrat-light;
					font-size: 14px;
					@include transition(color 0.5s);
				
					&:hover {
						color: $yellow;
					}
				}
			}
			
			ul {
				
				&.sub-menu {
					//max-height: 0;
					opacity: 0;
					visibility: hidden;
					@include transition(opacity 0.4s, visibility 0.4s, max-height 0.4s ease 0.4s );
				}
				
				li {
					
					a {
						padding-left: 50px;
					}
				}
			}
		}
	}
	
/*-----------------------------------------------------------------------------------*/
/*	Header
/*-----------------------------------------------------------------------------------*/

	.main-header {
		width: 100%;
		padding: 20px 0;
		background: rgba(white, 0);
		z-index: 3;
		text-align: center;
		@include transition(background 0.4s, transform 0.5s);
		@include position(fixed, 0 null null null);
		
		.push & {
			@include transform(translate3d(100%, 0, 0));
			
			@include min-em(700) {
				@include transform(translate3d(300px, 0, 0));
			}
		}	
			
		&.scrolled {
			background: rgba(white, 1);
			
/*
			.menu-toggle {
				
				.menu-strip {
					background: $dark;
				}
				
			}
*/

			.menu-btn {
				
				&::before,
				&::after,
				.menu-btn-middle {
					background: $dark;
				}
				
			}
			
			.tel {
				color: $dark;
				border-color: $dark;
				background-image: url(../images/call-icon-black.png);

				@include hidpi(1.3) {
					background-image: url(../images/call-icon-black.png);
					//background-size: 10px 19px;
				}

			}
		}
			
		.menu-btn {
			width: 50px;
			height: 50px;
			cursor: pointer;
			@include position(absolute, 14px null null 20px);
			
			&::before,
			&::after {
				content: '';
				width: 40px;
				height: 4px;
				background: white;
				border-radius: 10px;
				@include position(absolute, null null null 5px);
			}
			
			&::before {
				top: 12px;
				@include transition(top 0.2s ease 0.2s, transform ease 0.2s);
			}
			
			&::after {
				bottom: 12px;
				@include transition(bottom 0.2s ease 0.2s, transform ease 0.2s);
			}
			
			.menu-btn-middle {
				width: 40px;
				height: 4px;
				background: white;
				border-radius: 10px;
				margin-top: -2px;
				@include position(absolute, 50% null null 5px);
				@include transition(transform ease 0.2s);			
			}
			
			&.close {
				
				.menu-btn-middle {
					@include transform(rotate(-45deg));
					@include transition(transform 0.2s ease 0.2s);
				}
				
				&::before {
					top: 23px;
					@include transform(rotate(-45deg));
					@include transition(top ease 0.2s, transform 0.2s ease 0.2s);
				}
				
				&::after {
					bottom: 23px;
					@include transform(rotate(45deg));
					@include transition(bottom ease 0.2s, transform 0.2s ease 0.2s);
				}	
			}
		}
				
		.tel {
			display: inline-block;
			background: url(../images/call_icon.png) no-repeat center center;
			font-size: 14px;
			border-radius: 20px;
			padding: 20px 28px;
			border: 1px solid white;
			color: white;
			font-family: $montserrat-regular;
			@include position(absolute, 17px 10px null null);
			@include transition(all 0.2s);
			
			@include hidpi(1.3) {
				background: url(../images/call_icon@2x.png) no-repeat center center;
				background-size: 10px 19px;
			}
			
			@include min-em(900) {
				padding: 8px 20px 8px 40px;
				background: url(../images/call_icon.png) no-repeat 10% center;
				
				@include hidpi(1.3) {
					background: url(../images/call_icon@2x.png) no-repeat 10% center;
					background-size: 10px 19px;
				}
			}
						
			span {
				display: none;
				
				@include min-em(900) {
					display: inline-block;
				}
			}
		}
	}

	.header-inner {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		
		.header-links {
			display: none;
			font-size: 14px;
			text-transform: uppercase;
			font-family: $montserrat-regular;
			color: white;
			@include transition(color 0.2s);
			
			@include min-em(700) {
				display: inline-block;
			}
			
			&:hover {
				color: $yellow;
			}
			
			.scrolled & {
				color: $dark;
				
				&:hover {
					color: $yellow;
				}
			}
		}
		
		.logo {
			display: inline-block;
			width: 170px;
			height: 45px;
			background: url(../images/smarta-logo.png) no-repeat center top;
			background-size: contain;
			margin: 0 50px;
			
			&.logo-reversed {
				background: url(../images/smarta-logo-reversed.png) no-repeat center top;
			}
			
			a {
				display: block;
				width: 100%;
				height: 100%;
			}		
		}
	}

/*-----------------------------------------------------------------------------------*/
/*	Pages
/*-----------------------------------------------------------------------------------*/

	/*-------------------------------------------------------------------------------*/
	/*	generic
	/*-------------------------------------------------------------------------------*/
	
		.page-header {
//			padding-top: 78px;
			// fixed nav height but this won't work with flex.
			// workaround for now is to add a pseudo elements with the desired padding
			color: white;
			padding: 0 10px;
			height: 100vh;
			max-height: 510px;

			@include display(flex);
			@include flex-direction(column);
			@include align-items(center);
			@include justify-content(center);
			
//			&::before,
//			&::after {
//				content: '';
//				display: block;
//				padding-top: 78px;
//			}
			
			h1 {
				text-align: center;
				//text-transform: capitalize;
			}
			
			p {
				font-size: 16px;
				line-height: 1.8;
				text-align: center;
				max-width: 800px;
				font-family: $montserrat-light;	
				margin: 0;
				color: white;
				
				@include min-em(500) {
					font-size: 18px;
					line-height: 2;
				}	
			}		
		}
		

	/*-------------------------------------------------------------------------------*/
	/*	Home
	/*-------------------------------------------------------------------------------*/

		.home-page {
			
			.page-header {
				// will have to move this to inline so they can update in cms
				background: url(../images/home-header-bgd.jpg) no-repeat center center;
				background-size: cover;
				height: 100vh;
				max-height: none;
								
				a {
					color: white;
					border-bottom: 3px solid white;
					@include transition(border-color 0.2s, color 0.2s);
					
					&:hover {
						color: $yellow;
						border-color: $yellow;
					}		
				}
				
				p {
					margin-bottom: 40px;
				}
				
				.button {
					display: none;
					
					@include min-em(800) {
						display: inline-block;
						border-radius: 50px;
						padding: 13px 30px;
						background: white;
						color: $dark;
						border: none;
						font-family: $montserrat-bold;
						font-size: 12px;
						letter-spacing: tracking(200);
						text-transform: uppercase;
						text-align: center;
						@include transition(color 0.2s, background 0.2s);
						
						&:hover {
							background: $dark;
							color: white;
						}
					}
				}
			}
			
			.ql-nav {
				text-align: center;
				margin-bottom: 10px;
				
				li {
					display: inline-block;
					width: 50%;
					
					@include min-em(490) {
						width: auto;
					}
					
					&:nth-child(2) {
						margin-left: -6px;
					}
				}
				
				.button-join-left,
				.button-join-right {
					border: 1px solid #d7d7d7;
					display: block;					
					padding: 20px 0;
					background: white;
					font-family: $montserrat-bold;
					font-size: 11px;
					letter-spacing: tracking(200);
					text-transform: uppercase;
					color: #161a1e;
					@include transition(all 0.2s);
					
					@include min-em(490) {
						min-width: 230px;
						padding: 16px 40px;
					}
					
					&:hover {
						border: 1px solid #161a1e;
						background: #161a1e;
						color: white;
					}
					
					&.selected {
						border: 1px solid #161a1e;
						background: #161a1e;
						color: white;
					}
				}
				
				.button-join-left {
					
					@include min-em(490) {
						border-top-left-radius: 50px;
						border-bottom-left-radius: 50px;
					}
				}
				
				.button-join-right {
					
					@include min-em(490) {
						border-top-right-radius: 50px;
						border-bottom-right-radius: 50px;
					}
				}
			}
			
			.ql-content {
				//background: url(../images/home-ql-bgd.jpg) no-repeat center center;
				//background-size: cover;
				//background: #f2f2f2;
				text-align: center;
				padding: 30px 20px 120px 20px;
				position: relative;
				
				@include min-em(1000) {
					text-align: left;
				}
								
//				.ql-home-automation-section,
//				.ql-construction-section {
//					display: none;
					
//					&.showme {
//						display: block;
//					}
//				}
			}
			
			.ql-item {
				border-radius: 5px;
				border: 1px solid #c1c1c1;
				display: block;
				text-align: center;
				margin-bottom: 20px;
				padding: 15px 30px;
				width: 90%;
				@include transition(background 0.2s);
				
				@include min-em(600) {
					width: 44%;
					margin:1.2%;
					display: inline-block;
				}
				
				@include min-em(1000) {
					width: 30%;
					margin:1%;
				}
				
				&:hover {
					background: #313d70;
					
					h4 {
						color: white;
					}
					
					.more {
						color: $yellow;
					}
				}
				
				h4 {
					//text-transform: capitalize;
					color: #161a1d;
					margin: 0;
					@include transition(color 0.2s);
				}
				
				.more {
					color: $brown;
					font-family: $montserrat-regular;
					font-size: 14px;
					@include transition(color 0.2s);
				}
			}

//			.more-link-wrapper {
				//margin-top: 40px;
				//text-align: center;
//			}
			
			.isotope-stamp {
				@include position(absolute, null null 46px calc(50% - 90px));
			}
			
			.button {
				display: inline-block;
				border-radius: 50px;
				padding: 13px 30px;
				background: #2562e6;
				color: white;
				border: none;
				font-family: $montserrat-bold;
				font-size: 11px;
				letter-spacing: tracking(200);
				text-transform: uppercase;
				@include transition(all 0.2s);
				
				&:hover {
					background: white;
					color: #2562e6;
				}
			}

			.slider-section {
				position: relative;
				
				.slide-meta {	
					background: #D6D7D8;
					text-align: center;
					padding: 20px 10px;

					@include min-em(800) {
						padding: 0;
						background: none;
						@include position(absolute, 0 0 0 0);
						@include display(flex);
						@include flex-direction(column);
						@include align-items(center);
						@include justify-content(center);		
					}
				}
				
				.slide-tag {
					display: inline-block;
					background: #d8a44d;
					border-radius: 50px;
					padding: 7px 15px;
					font-family: $montserrat-bold;
					font-size: 11px;
					letter-spacing: tracking(100);
					text-transform: uppercase;
					color: white;
					
					@include min-em(800) {
						margin-bottom: 10px;
					}
					
					@include min-em(900) {
						margin-bottom: 30px;
						padding: 13px 30px;
					}					
				}
				
				.slide-heading {
					font-family: $montserrat-bold;
					color: white;
					text-transform: capitalize;
					text-align: center;
					font-size: 6vw;
					margin-bottom: 0;
					
					@include min-em(800) {
						margin-bottom: 10px;
						font-size: 42px;
						line-height: leading(42, 46);
						letter-spacing: tracking(-20);
					}
					
					@include min-em(900) {
						margin-bottom: 30px;
					}
				}
				
				.slide-caption {
					font-size: 14px;
					color: white;
					text-align: center;
					margin-bottom: 20px;
					
					@include min-em(800) {
						max-width: 40%;
					}
					
					@include min-em(900) {
						margin-bottom: 30px;
					}
				}

				.slider-button {
					display: inline-block;		
					border-radius: 50px;
					padding: 8px 15px;
					background: transparent;
					color: white;
					border: 1px solid white;
					font-family: $montserrat-bold;
					font-size: 11px;
					letter-spacing: tracking(200);
					text-transform: uppercase;
					@include transition(all 0.2s);
					
					@include min-em(900) {
						padding: 13px 30px;
					}
					
					&:hover {
						background: white;
						color: #2562e6;
					}
				}
			}

			.bx-wrapper .bx-pager {
				display: none;
				
				@include min-em(900) {
					display: block;
					bottom: 10px;
				}				
			}
		}
	
	/*-------------------------------------------------------------------------------*/
	/*	About
	/*-------------------------------------------------------------------------------*/

		.about-page {
			
			.page-header {
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}
			
			.page-split {
				background: #303036;
				@include display(flex);
				@include flex-direction(column);
				
				@include min-em(800) {
					@include flex-direction(row);
					@include align-items(center);
//						
				}
								
				.first {
					background-size: cover;
					
					@include min-em(800) {
						width: 50%;
						//@include align-self(stretch);
					}
					
//					img {
//						display: none;
						
//						@include min-em(800) {
//							display: block;
//						}
//					}
				}
				
				.second {
					
					@include min-em(800) {
						width: 50%;
						float: left;
					}
				}
				
				img {
					width: 100%;
				}
				
				.split-text {
					max-width: none;
					margin: 0;
					padding: 10%;					

					h3 {
						color: white;
						margin-bottom: 20px;
						font-weight: 100;		
					}
					
	 				p {
						color: white;
					}
				}
				
				.split-text-tag {
					font-family: $montserrat-bold;
					font-size: 16px;
					color: white;
				}
			}
			
			.content {
				
				.inner-text {
					text-align: left;
				}
			}
		}

	/*-------------------------------------------------------------------------------*/
	/*	Case study
	/*-------------------------------------------------------------------------------*/
		
		.casestudy-page {
			
			.page-header {
				// will have to move this to inline so they can update in cms
//				background: url(../images/case-study-bgd.jpg) no-repeat center center;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}
			
			.isotope-filters {
				background: #f5f6f7;
				text-align: center;
				padding: 30px 0;
				
				ul {
					
					li {
						display: block;
						margin-bottom: 10px;
						
						@include min-em(600) {
							display: inline-block;
							margin: 0 20px 0 0;

							&:last-child {
								
								a {
									&::after {
										content: '';
									}
								}
							}
						}
					}
				}
				
				a {
					font-family: $montserrat-regular;
					color: #999b9b;
					text-transform: uppercase;
					
					@include min-em(600) {
						
						&::after {
							content: '\2022';
							margin-left: 20px;						
						}
												
					}
					
					&:hover {
						color: #2b2b2b;
					}
										
					&.selected {
						color: #2b2b2b;
					}					
				}
			}
			
			.isotope-item {
				width: 100%;
				
				@include min-em(600) {
					width: 50%;
				}
				
				@include min-em(800) {
					width: 33.3333333333%
				}
				
				&:hover {
					
					img {
						@include transform(scale(1.1));
					}
				}
			}
			
			.casestudy-image {
				overflow: hidden;
				
				img {
					width: 100%;
					@include transition(transform, 0.5s);
				}
			}
			
			.casestudy-meta {
				padding: 30px 40px;
				
				h2 {
					margin-bottom: 0;
					color: #2b2b2b;
				}
				
				p {
					line-height: 1.5;
				}
			}
		}
	
	/*-------------------------------------------------------------------------------*/
	/*	Case study single
	/*-------------------------------------------------------------------------------*/

		.casestudy-single-page {

			.page-header {
				// will have to move this to inline so they can update in cms
//				background: url(../images/lisvane-bgd.jpg) no-repeat center center;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}
			
			.meta-wrapper {
				padding: 60px 0;
				
				.meta-section {
					display: block;
					vertical-align: top;
					padding: 0 10px 30px 10px;
					
					&::after {
						content: '';
						display: block;
						height: 1px;
						background: #999b9b;
						width: 30%;
						margin: 30px auto 0 auto;
					}
					
					&:last-child {
						
						&::after {
							content: none;
						}	
					}
										
					@include min-em(700) {
						display: inline-block;
						width: 32%;
						border-bottom: none;
						border-right: 1px solid #999b9b;
						padding: 0 10px;
						margin-bottom: 0;
						
						&::after {
							content: none;	
						}
						
						&:last-child {
							border-right: none;
						}

					}
				}
				
				p {
					text-align: center;
					margin-bottom: 0;
				}
				
				.description {
					font-family: $montserrat-bold;
					text-transform: uppercase;
					color: #2b2b2b;
				}
			}
			
			.slider-section {
				
				.slide-heading {
					font-family: $montserrat-light;
					font-weight: 100;
					font-size: 32px;
					color: white;
				}
			}


			.slider-section {
				position: relative;
				
				.slide-meta {	
					background: #D6D7D8;
					text-align: center;
					padding: 20px 10px;

					@include min-em(800) {
						text-align: left;
						padding: 0;
						background: none;
						@include position(absolute, null null 60px 180px);
					}
				}
								
				.slide-heading {
					font-family: $montserrat-light;
					color: white;
					font-size: 6vw;
					margin-bottom: 0;
					
					@include min-em(800) {
						margin-bottom: 10px;
						font-size: 42px;
						line-height: leading(42, 46);
						letter-spacing: tracking(-20);
					}
					
					@include min-em(900) {
						margin-bottom: 30px;
					}
				}
				
				.slide-caption {
					position: relative;
					color: white;
					text-align: center;
					margin-bottom: 20px;
					
					
					@include min-em(800) {
						text-align: left;
						max-width: 80%;
						padding-left: 80px;
						
						&::before {
							content: '';
							display: block;
							width: 60px;
							height: 1px;
							background: white;
							@include position(absolute, 15px null null 0);
						}
					}
				}
			}

			.bx-wrapper .bx-pager {
				display: none;
				
				@include min-em(900) {
					display: block;
					bottom: 20px;
				}				
			}

			.page-split {
				@include display(flex);
				@include flex-direction(column);
				
				@include min-em(800) {
					@include flex-direction(row);
					@include align-items(center);
				}
								
				.first {
					background-size: cover;
					
					@include min-em(800) {
						width: 50%;
					}					
				}
				
				.second {
					
					@include min-em(800) {
						width: 50%;
					}
				}
				
				img {
					width: 100%;
				}
				
				.split-text {
					max-width: none;
					margin: 0;
					padding: 10%;					

					h3 {
						color: #2b2b2b;
						font-weight: 100;		
					}
					
	 				p {
						//color: white;
					}
				}
			}
			
			.quote-section {
				background: #2562e6;
				padding: 70px 10px;
				
				.quote {
					font-family: $montserrat-light;
					font-weight: 100;
					font-size: 28px;
					color: white;
					margin: 0 auto 30px auto;
					text-align: center;
					line-height: leading(48, 28);
					
					@include min-em(800) {
						max-width: 70%;
					}
				}
				
				.cite {
					color: white;
					text-align: center;
				}
			}
			
		}

	/*-------------------------------------------------------------------------------*/
	/*	Home Automation and Construction post type
	/*-------------------------------------------------------------------------------*/
	
		.home-automation-page,
		.construction-page {
			
			.page-header {
				// will have to move this to inline so they can update in cms
//				background: url(../images/home-automation-bgd.jpg) no-repeat center center;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}
			

			.page-split {
				background: #303036;
				@include display(flex);
				@include flex-direction(column);
//				@include justify-content(center);
				
				@include min-em(800) {
					@include flex-direction(row);
					@include align-items(center);
				}
				
				&:nth-child(even) {
					
					.first {
						
						@include min-em(800) {
							@include order(2);
						}
						
					}
					
					.second {
						
						@include min-em(800) {
							@include order(1);
						}
					}
					
				}
							
				.first {
					
					@include min-em(800) {
						width: 50%;
					}					
				}
				
				.second {
					background-size: cover;
					//@include align-self(stretch);
					
					@include min-em(800) {
						width: 50%;						
					}					
				}
				
				img {
					width: 100%;
				}
				
				.split-text {
					max-width: none;
					margin: 0;
					padding: 10%;					

					.split-text-number {
						font-family: $montserrat-hairline;
						font-size: 57px;
						line-height: 1;
						//margin-bottom: 50px; 
					}
					
					h3 {
						font-style: $montserrat-bold;
						color: white;
						margin-bottom: 50px;
						//text-transform: capitalize;
					}
					
	 				p {
						color: #999b9b;
						margin-bottom: 50px;
					}
				}
				
				.button {
					display: inline-block;
					border-radius: 50px;
					padding: 13px 30px;
					background: #2562e6;
					color: white;
					border: none;
					font-family: $montserrat-bold;
					font-size: 11px;
					letter-spacing: tracking(200);
					text-transform: uppercase;
					@include transition(all 0.2s);
					
					&:hover {
						background: white;
						color: #2562e6;
					}
				}
				
			}
		}

	/*-------------------------------------------------------------------------------*/
	/*	Home automation and Construction single views
	/*-------------------------------------------------------------------------------*/
	
		.home-automation-single,
		.construction-single {

			.page-header {
				// will have to move this to inline so they can update in cms
//				background: url(../images/home-cinema-header-bgd.jpg) no-repeat center center;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}

			.page-split {
				background: #303036;
				@include display(flex);
				@include flex-direction(column);
//				@include justify-content(center);
								
				@include min-em(800) {
					@include flex-direction(row);
					@include align-items(center);
				}
				
				.first {
					//min-height: 700px;
					background-size: cover;
					background-position: center center;
					
					@include min-em(800) {
						width: 50%;
						//min-height: auto;
						//@include align-self(stretch);
					}					
				}
				
				.second {
					
					@include min-em(800) {
						width: 50%;
					}
				}
				
				&.section-one,
				&.section-five {
					
					.first {
						
						@include min-em(800) {
							@include order(2);
						}
						
					}

					.second {
						
						@include min-em(800) {
							@include order(1);
						}
					}
				}							
				
				img {
					width: 100%;
				}
				
				.split-text {
					max-width: none;
					margin: 0;
					padding: 10%;					
					
					h3 {
						font-style: $montserrat-bold;
						color: white;
						margin-bottom: 50px;
						//text-transform: capitalize;
					}
					
	 				p {
						color: #999b9b;
						margin-bottom: 30px;
					}
				}					
			}
			
			.section-two {	
				padding: 65px 10px;
				
				h3 {
					font-family: $montserrat-bold;
					font-size: 18px;
					color: $dark;
					text-transform: uppercase;
					text-align: center;
					
					&.mB {
						margin-bottom: 70px;
					}				
				}
				
				.feature {
					padding: 20px;
					
					@include min-em(800) {
						display: inline-block;
						margin: 0 0 20px 0;
						width: calc(33.33333% - 4px);
						vertical-align: top;
					}
					
					.icon {
						text-align: center;
						margin-bottom: 40px;
						min-height: 100px;						
					}

					.meta {
						max-width: 300px;
						margin: 0 auto;
					}
										
					p {
						text-align: center;
					}					
				}
			}
			
			.section-four {
				position: relative;
				
				img{
					width: 100%;
				}
				
				.meta {
					padding: 20px 10px;
					
					@include min-em(800) {
						//background: red;
						width: 60%;
						@include position(absolute, null null 10px 5%);
						
					}
					
					h3 {
						font-family: $montserrat-light;
						font-size: 42px;
						font-weight: 100;
						color: $dark;
						margin: 0;
						
						@include min-em(800) {
							color: white;
						}
					}
					
					.text {
						position: relative;
						
						@include min-em(800) {
							padding-left: 80px;

							&::before {
								content: '';
								width: 50px;
								height: 1px;
								background: white;
								@include position(absolute, 15px null null 0);
							}
						}
						
						p {
							
							@include min-em(800) {
								color: white;
							}
						}
					}					
				}
			}
			
			.section-five {
				background: none;
				
				.split-text {
					
					h3 {
						color: $dark;
					}
				}				
				
				ol {
					font-family: $pt-serif;
					font-size: 16px;
					line-height: leading(34, 16);
					color: $grey;
					list-style: decimal;
			
					li {
						margin-bottom: 40px;
					}
				}
			}		
		}
	
	/*-------------------------------------------------------------------------------*/
	/*	Contact
	/*-------------------------------------------------------------------------------*/
	
		.contact-page {

			.page-header {
				// will have to move this to inline so they can update in cms
				background: url(../images/contact-header-bgd.jpg) no-repeat center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}

			.page-split {
				padding: 70px 10px;
				@include clearfix;

				.first {
					
					@include min-em(800) {
						width: 50%;
						float: left;
						border-right: 1px solid #c1c1c1;
					}					
				}
				
				.second {
					
					@include min-em(600) {
						padding: 0 40px;
					}
					
					@include min-em(800) {
						width: 50%;
						float: left;
						padding: 0 80px;
					}

					p {
						margin-bottom: 0;
					}

					
				}
				
				.title {
					font-family: $montserrat-regular;
					text-transform: uppercase;				
					font-size: 12px;
					line-height: leading(28, 12);
				}
								
				.address,
				.phone {
					margin-bottom: 20px;
				}
			}
			
			.ninja-forms-form-wrap {
				
				@include min-em(600) {
					padding: 0 40px;	
				}
				
				@include min-em(800) {
					padding: 0 80px;
				}
				
				.ninja-forms-required-items {
					color: $grey;
					font-family: $montserrat-light;
					font-weight: 300;
					font-size: 14px;
					margin-bottom: 30px;
				}
								
				.form-name,
				.form-email,
				.form-subject,
				.form-message {
					box-shadow: none;
					border-color: #c1c1c1;
					color: $grey;
					padding: 10px;
				}
				
				label {
					color: $grey;
					font-family: $montserrat-light;
					font-weight: 300;
				}
				
				.form-name {
					position: relative;
					
					&::before {
						content: '';
						display: block;
						@include position(absolute)
					}
				}
				
				#nf_submit_1,
				#nf_processing_1 {
					text-align: right;	
				}
				
				.form-submit {
					display: inline-block;
					border-radius: 50px;
					padding: 15px 25px;
					background: #2562e6;
					color: white;
					border: none;
					font-family: $montserrat-bold;
					font-size: 11px;
					letter-spacing: tracking(200);
					text-transform: uppercase;
					@include transition(color 0.2s, background 0.2s);
					
					&:hover {
						background: $dark;
						color: white;
					}					
				}
			}							
		}	
	
	/*-------------------------------------------------------------------------------*/
	/*	Testimonials
	/*-------------------------------------------------------------------------------*/
	
		.testimonial-page {

			.page-header {
				// will have to move this to inline so they can update in cms
				background: url(../images/testimonial-header-bgd.jpg) no-repeat center center;
				background-size: cover;
				height: 100vh;
				max-height: 510px;
			}

			.testimonial {
				padding: 20px;
				
				@include min-em(800) {
					display: inline-block;
					margin: 0 0 20px 0;
					width: calc(33.33333% - 4px);
				}
				
				.avatar {
					width: 60px;
					height: 60px;
					border-radius: 50%;
					overflow: hidden;
					margin: 0 auto 20px auto;
					
				}
				
				.meta {
					max-width: 300px;
					margin: 0 auto;
				}
				
				p {
					text-align: center;
				}
				
				.name {
					font-family: $montserrat-light;
					color: #4f5362;
					margin-bottom: 0;
				}
				
				.field {
					color: #a8acb9;
					font-family: $montserrat-light;
					font-size: 12px;
					text-transform: uppercase;
				}
			}
		}
		
	/*-------------------------------------------------------------------------------*/
	/*	404 page
	/*-------------------------------------------------------------------------------*/
		
		.page-404 {
			
			.page-header {
				// will have to move this to inline so they can update in cms
				background: url(../images/404-bgd.jpg) no-repeat center center;
				background-size: cover;
				height: 100vh;
				max-height: 760px;
				
				h1 {
					font-size: 120px;
					line-height: 1.1;
					margin-bottom: 20px;
				}
				
				.tag {
					font-family: $montserrat-bold;
					font-size: 36px;
					line-height: 1.5;
					margin-bottom: 20px;
				}
			}
		}
					
/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/

	/*-------------------------------------------------------------------------------*/
	/*	Upper footer
	/*-------------------------------------------------------------------------------*/
	
		.upper-footer {
			background: #f5f6f7;
			
			p {
				margin-bottom: 50px;	
			}	
					
			.button {
				display: block;
				border-radius: 50px;
				padding: 13px 30px;
				color: #2562e6;
				border: 1px solid #2562e6;
				font-family: $montserrat-regular;
				font-size: 12px;
				letter-spacing: tracking(100);
				text-transform: uppercase;
				text-align: center;
				@include transition(color 0.2s, background 0.2s);
				
				@include min-em(400) {
					display: inline-block;
				}
				
				&:hover {
					background: #2562e6;
					color: white;	
				}
				
				&:first-child {
					margin: 0 0 20px 0;
					
					@include min-em(450) {
						margin: 0 20px 0 0;
					}
				}
			}
		}
	
	/*-------------------------------------------------------------------------------*/
	/*	Lower footer
	/*-------------------------------------------------------------------------------*/
		
		.lower-footer {
			padding: 80px 0;
						
			h6 {
				text-transform: uppercase;
				font-family: $montserrat-regular;
				font-size: 14px;
				margin-bottom: 30px;
			}
			
			.first-section {

				@include min-em(600) {
					@include display(flex);
					@include justify-content(space-around);
				}
				
				@include min-em(850) {
					width: 65%;
					float: left;
					@include justify-content(flex-start);		
				}
			}
			
			.second-section {

				@include min-em(600) {
					@include display(flex);
					@include justify-content(space-around);
				}
		
				@include min-em(850) {
					display: block;
					float: left;
					width: 35%;
					@include clearfix;
				}
				
				.upper {
					margin-bottom: 50px;
					
					li {
						display: inline-block;
						margin-right: 25px;
						
						img {
							vertical-align: middle;
						}
					}
				}
				
				.lower {
					
					p {
						line-height: leading(16, 24);
					
						&.tel {
							margin-top: 35px;
							margin-bottom: 20px;
							
							a {
								color: #999b9b;
								
								&:hover {
									color: $yellow;
								}
							}
						}
					}
				}
			}
			
			.menu-section {
				margin: 0 50px 40px 0;
				
				@include min-em(850) {
					
					margin-right: 80px;
				}
								
				a {
					text-transform: capitalize;
					color: #999b9b;
					font-family: $montserrat-regular;
					font-size: 14px;
					line-height: leading(34, 14);
					
					&:hover {
						color: $yellow;
					}
				}
			}
			
			.copyright-section {
				padding-top: 70px;
				
				p {
					color: #a8acb9;
					font-size: 14px;
					text-align: center;
					margin: 0;
				}
			}
		}

// HELPERS & PRINT
@import "sass/partials/helpers";
@import "sass/partials/print";