@mixin min-em($width) {
	
	  $base: $em-base;
	  @if not unitless($base) {
	      $base: strip-units($base);
	  }		
	$new-width: $width / $base;
	
	@media screen and (min-width: $new-width + em ) {
		@content;	
	}
}

@mixin target-ie10(){
	
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@content;
	}
}