// BOX SHADOW
@mixin box-shadow($x: 0, $y: 0, $blur: 5px, $spread: 0 , $color: rgba(0,0,0,.4), $inset: "") {
  @if ($inset != "") {
    -webkit-box-shadow: $inset $x $y $blur $spread $color;
    -moz-box-shadow:    $inset $x $y $blur $spread $color;
    box-shadow:         $inset $x $y $blur $spread $color;
  } @else {
    -webkit-box-shadow: $x $y $blur $spread $color;
    -moz-box-shadow:    $x $y $blur $spread $color;
    box-shadow:         $x $y $blur $spread $color;
  }
}

// FONT-SIZE - THIS FUNCTION INCLUDES A PX FALLBACK TO IE8
@mixin font-size($size:$base-font-size, $line: '') {
	font-size: $size + px;
	@if ($line == '') {
		line-height: ($size * $base-line-height) + px;
	} @else {
		line-height: $line + px;
	}
	font-size: rem($size);
	@if ($line == '') {
		line-height: $base-line-height;
	} @else {
		
		  $base: $em-base;
		  @if not unitless($base) {
		      $base: strip-units($base);
		  }		
		line-height: ($line / $base) * 1rem;
	}
}

// VERTICALLY ALIGN ANYTHING
%vertical-align {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

// CENTRE ANYTHING 
@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
		@include transform(translateY(-50%));    
	}
    @if $axis == "x"{
        left:50%;
		@include transform(translateX(-50%));
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

