.jpgroup:after {
	content: "";
	display: table;
	clear: both;
}

.clearboth {
	clear: both;
	width: 100%;
}

// Image replacement	
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}